<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Design system</title>
    <link rel="stylesheet" href="./styles/reset.css">
    <link rel="stylesheet" href="./styles/design_system.css">
</head>

<body>

    <div class="wrap">

        <span class="design_system_space"></span>

        <h1>Title h1</h1>

        <span class="design_system_space"></span>

        <h2>Title h2</h2>

        <span class="design_system_space"></span>

        <h3>Title h3</h3>

        <span class="design_system_space"></span>

        <p class="subtitle">Subtitle</p>

        <span class="design_system_space"></span>

        <p class="paragraph">Paragraphe lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto pariatur
            iste consequatur ratione saepe veniam numquam ex quam aperiam, tenetur possimus aspernatur corporis deleniti
            laudantium consectetur, placeat earum! Suscipit, temporibus!</p>

        <span class="design_system_space"></span>

        <ul class="list-dot">
            <li>Lorem <b>ipsum</b> dolor</li>
            <li>Lorem ipsum dolor</li>
        </ul>

        <span class="design_system_space"></span>

        <a class="link" href="#">Lien</a>

        <span class="design_system_space"></span>

        <button class="btn btn-orange">Call-to-action</button>

        <span class="design_system_space"></span>

        <button class="btn btn-blue">Call-to-action</button>

        <span class="design_system_space"></span>

        <button class="btn btn-blue-border">Call-to-action</button>

        <span class="design_system_space"></span>

        <input class="input input-gray" type="text">

        <span class="design_system_space"></span>

        <div class="input-img">
            <input class="input input-gray" type="password">
            <div class="password">
                <span class="fas fa-eye"></span>
            </div>
        </div>

        <span class="design_system_space"></span>

        <label for="checkbox" class="checkbox">
            <input type="checkbox" id="checkbox" class="hidden">
            <span class="label"></span>Checkbox
        </label>

        <span class="design_system_space"></span>

    </div>

    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"
        integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenMax.min.js"></script>
    <script src="./js/main.js"></script>

</body>

</html>